.screenshots .screenshot {
  position: relative;
}

@media (max-width: 768px) {
  .screenshots {
    margin-top: var(--space-8);
  }

  .screenshots .screenshot {
    height: 20vh;
    width: 100%;
    margin: 0 auto;
  }
}

.screenshots .scroll {
  overflow-y: auto;
  max-height: 46vh;
  padding-bottom: var(--space-4);
}

@media (max-width: 768px) {
  .screenshots .scroll {
    overflow: hidden;
    max-height: auto;
  }
}

.screenshots .screenshot .screenshot-image-sticker {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.screenshots .screenshot-image {
    border-radius: var(--radius);
    background: white;
    box-shadow: var(--shadow);
  }
  
  .display-cover {
    position: relative;
  }

  @media (max-width: 768px) {
    .display-cover {
      display: flex;
      flex-direction: column-reverse;
    }
  }

  video {
    width: 100%;
    height: 100%;
    border-radius: var(--radius);
  }

  .camera {
    position: relative;
    overflow: hidden;
    z-index: 1;
    border-radius: var(--radius);
    box-shadow: var(--shadow);
    height: 500px;
    width: 500px;
  }

  @media (max-width: 768px) {
    .camera {
      height: 40vh;
      width: 100%;
      margin: 0 auto;
      margin-top: var(--space-8);
    }
  }

  .camera img {
    height: 100%;
    width: 100%;
  }

  .actions {
    max-width: 500px;
  }

  .controls {
    display: flex;
    gap: var(--space-4);
    margin-top: var(--space-4);
  }

  .camera .sticker {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
  }
