:root {
    --btn-text-color: var(--color-white);
    --btn-bg-color: var(--color-main);
    --btn-border: 1px solid var(--color-main);
    --btn-radius: var(--radius-md);
    --btn-padding: var(--space-2) var(--space-4);
    --ease: ease-in-out;
}

.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: var(--btn-text-color);
    background-color: var(--btn-bg-color);
    border: var(--btn-border);
    border-radius: var(--btn-radius);
    padding: var(--btn-padding);
    transition: all 0.3s var(--ease);
    cursor: pointer;
}

.button:hover {
    color: var(--btn-bg-color);
    background-color: var(--btn-text-color);
    text-decoration: none;
}

.button--reset {
    color: var(--color-main);
    background-color: var(--color-white);
    border: none;
}

.button--header {
    padding: var(--space-1) var(--space-3);
}

.button--icon svg {
    width: var(--space-4);
    height: var(--space-4);
}

.button--svg {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.button--svg svg:hover {
    color: var(--gray-500);
}

.button--svg svg {
    width: var(--space-5);
    height: var(--space-5);
}

.button-share {
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.button-share svg {
    width: var(--space-4);
    height: var(--space-4);
    stroke: none;
}

.button--secondary {
    color: var(--color-main-text);
    background-color: var(--color-white);
    border: 1px solid var(--color-main);
}

.button--secondary:hover {
    color: var(--color-white);
    background-color: var(--color-main);
}

.button--danger {
    color: var(--color-danger-text);
    background-color: var(--color-danger);
    border: 1px solid var(--color-danger);
}

.button--danger:hover {
    color: var(--color-danger);
    background-color: var(--color-white);
}

.button--danger:hover.button--svg svg:hover {
    color: var(--color-danger);
}


.button--warning {
    color: var(--color-warning-text);
    background-color: var(--color-warning);
    border: 1px solid var(--color-warning);
}

.button--warning:hover {
    color: var(--color-warning);
    background-color: var(--color-white);
}

.button--warning:hover.button--svg svg:hover {
    color: var(--color-warning);
}

.button--success {
    color: var(--color-success-text);
    background-color: var(--color-success);
    border: 1px solid var(--color-success);
}

.button--success:hover {
    color: var(--color-success);
    background-color: var(--color-white);
}

.button--success:hover.button--svg svg:hover {
    color: var(--color-success);
}

.button--info {
    color: var(--color-info-text);
    background-color: var(--color-info);
    border: 1px solid var(--color-info);
}

.button--info:hover {
    color: var(--color-info);
    background-color: var(--color-white);
}


.select {
    display: inline-block;
    padding: var(--space-2) var(--space-4);
    border: 1px solid var(--color-main);
    border-radius: var(--radius-md);
    background-color: var(--color-white);
    color: var(--color-main);
    transition: all 0.3s var(--ease);
}