/* Heading and paragraph classes with specified font sizes */
h1, h2, h3, h4, h5, h6 {
    line-height: 1;
    margin: 0 0 var(--space-8) 0;
}

.h1,
h1 {
    font-size: 2.986rem;
}

@media (max-width: 768px) {
    .h1,
    h1 {
        font-size: var(--text-2xl);
    }
}

.h2,
h2 {
    font-size: 2.488rem;
}

@media (max-width: 768px) {
    .h2,
    h2 {
        font-size: var(--text-xl);
    }
}

.h3,
h3 {
    font-size: 2.074rem;
}

@media (max-width: 768px) {
    .h3,
    h3 {
        font-size: var(--text-lg);
    }
}

.h4,
h4 {
    font-size: 1.728rem;
}

@media (max-width: 768px) {
    .h4,
    h4 {
        font-size: var(--text-base);
    }
}

.h5,
h5 {
    font-size: 1.44rem;
}

@media (max-width: 768px) {
    .h5,
    h5 {
        font-size: var(--text-sm);
    }
}

.h6,
h6 {
    font-size: 1.2rem;
}

@media (max-width: 768px) {
    .h6,
    h6 {
        font-size: var(--text-xs);
    }
}

.paragraph,
p {
    font-size: 1rem;  /* Standard paragraph text */
}


.text-small,
small {
    font-size: 0.833rem; /* Smaller text, often used for less emphasized content */
}

.text-smallest {
    font-size: 0.694rem; /* Even smaller text size */
}